<!-- INCLUDE ../../../../templates/{TMPL_FOLDERNAME}/page_header.html -->
{UPDCHECK_BOX}
{UPDATE_BOX}
{STATUS}
	<form action="{GR_S_CONFIG}" method="post">
		<table width="100%">
			<tr>
				<th colspan="2">
					{GR_S_TITLE}
				</th>
			</tr>
			<tr>
				<td class="row1" valign="top">
					{GR_S_UPD_CHECK}
				</td>
				<td class="row2">
					<input type="checkbox" name="upd_check" value="1" {GR_UPD_CHECK} />
				</td>
			</tr>
			<tr>
				<td class="row1" valign="top">
					{GR_S_MAILTEXT1}
				</td>
				<td class="row2">
					{GR_MAILTEXT1}
				</td>
			</tr>
			<tr>
				<td class="row1" valign="top">
					{GR_S_MAILTEXT2}
				</td>
				<td class="row2">
					{GR_MAILTEXT2}
				</td>
			</tr>
			<tr>
				<td class="row1" valign="top">
					{GR_S_POLL}
				</td>
				<td class="row2">
					<input type="checkbox" name="poll" value="Y" {GR_POLL} />
				</td>
			</tr>
			<tr>
				<td class="row1" valign="top">
					{GR_S_POPUP}
				</td>
				<td class="row2">
					<input type="checkbox" name="popup" value="Y" {GR_POPUP} />
				</td>
			</tr>
			<tr>
				<td class="row1" valign="top">
					{GR_S_CLOSETEXT}
				</td>
				<td class="row2">
					{GR_CLOSETEXT}
				</td>
			</tr>
			<tr>
				<th colspan="2" align="right">
					<input type="submit" name="settings_submit" value="{GR_SAVE}" class="mainoption" />
				</th>
			</tr>
		</table>
	</form>
{GR_FOOTER}
<!-- INCLUDE ../../../../templates/{TMPL_FOLDERNAME}/page_tail.html -->
